<template name="mainNavigationTopItemConnectionStatus">
    <li class="{{getVisibility}} connection-status">
        <i class="fa fa-circle {{getSignal}}" title="{{getSignalTooltip}}"></i>
    </li>
</template>
