<template name="cardsetInfoBoxItemTranscriptMinimumSubmissions">
    <tr>
        <td>{{_ "transcriptForm.bonus.form.minimum"}}:</td>
        <td>{{getMinimumSubmissions this}}</td>
    </tr>
</template>
