<template name="cardsetLabels">
    {{#unless gotTranscriptBonusAndIsNotShuffled this._id}}
        {{#unless gotTranscriptBonusAndIsNotShuffled this.cardset_id}}
              <span class="badge" title="{{_ "cardset.info.quantity"}}">
                  {{getCardsetCardCount}}
              </span>
        {{/unless}}
    {{/unless}}
    {{#if gotTranscriptBonus this._id}}
        <span class="badge cardset-list-badge-transcript" title="{{_ "transcriptForm.info.submissions"}}">
            {{getTranscriptSubmissions this}}
        </span>
    {{/if}}
    {{{getKind this.kind 0}}}
    {{{getShuffleLabel this.shuffled}}}
    {{{getBonusLabel this.learningActive}}}
    {{{getTranscriptBonusLabel this}}}
    {{#unless this.shuffled}}
        {{{getCardTypeLabel this.cardType}}}
        {{{getDifficultyLabel this.cardType this.difficulty}}}
    {{/unless}}
</template>
