<template name="cardSidebarItemCardList">
    {{#if gotMultipleCards}}
        <i class="card-button cardHeaderItem btn fa fa-list selectCard" data-id="{{this._id}}"
           title="{{_ "card.tooltip.showIndex"}}"></i>
    {{/if}}
</template>
