<template name="impressumAGBHeadingEN">
    <h1>General terms and conditions of business</h1>
</template>

<template name="impressumAGBContentEN">
    <h2>Terms of use</h2>
    <p>
    <ul>
        <li>The use of 🍅cards is governed by a legal agreement between the user and 🍅cards.
            that
            user
            (hereinafter referred to as &raquo;User&laquo; for the sake of better readability) and
            🍅cards. The Webapp 🍅cards is a free service of the
            TransMIT-Gesellschaft für Technologietransfer mbH, Project area for mobile applications using
            the
            Address: Kerkrader Straße 3,35394 Gießen, Germany.
        </li>
        <li>All students of the Technical University of Mittelhessen, THM, may apply for 🍅cards for their
            purposes, as long as they do not violate German or EU law.
        </li>
        <li>🍅cards is a free web service (Software as a Service). The software is <a
                href="https://github.com/thm-projects/arsnova-flashcards" target="_blank">Open Source</a>
            and is located under the GNU
            <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU
                General Public License Version 3</a>.
        </li>
        <li>In addition to the actual flashcard service, 🍅cards also offers the option of a flashcard
            service,
            chargeable
            use learning content from other users of the platform. The following terms and conditions
            the legal relationship between the user, 🍅cards and the authors, who are responsible for the
            content of this web site.
            offer and regulate learning content that is subject to a fee.
        </li>
        <li>In order to use 🍅cards, the contract requirement must be accepted. If the user should
            does not accept the contract condition, this service will not be activated.
        </li>
        <li>The contract is accepted by the user, if he/she is logged on to the system for the first time
            when he/she is logged on to the system.
            General Terms and Conditions with the &raquo;Accept&laquo; button.
        </li>
        <li>With the acceptance of the contract, 🍅cards accepts that in case of important changes,
            Announcements or when starting a learning phase e-mails or messages integrated in the system
            to the user.
        </li>
        <li>If 🍅cards card sets are purchased (optional) from 🍅cards, the user and
            🍅cards concludes a legally valid contract. After payment, the selected
            map sets can be fully viewed and learned by the user.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Rules for using 🍅cards</h2>
    <p>
    <ul>
        <li>
            When using 🍅cards, the user assures that
            <ul>
                <li>all information provided by him/her in the system is truthful and correct,</li>
                <li>does not violate any applicable laws,</li>
                <li>he is responsible for everything that happens under the user name.</li>
            </ul>
        </li>
        <li>There are no racist, inflammatory or insulting statements in the use of this website.
            in any form possible here.
        </li>
        <li>🍅cards reserves the right to block users who do not abide by the rules.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Reliability and availability of 🍅cards</h2>
    <p>
    <ul>
        <li>An uninterrupted availability of 🍅cards is technically not possible. Maintenance and
            Update measures of the service as well as unforeseeable disruptions, e. g. breakdowns in the
            event of a system failure.
            Internet,
            Server or power provider, may cause temporary disruptions to the accessibility of the site.
            of my service. 🍅cards makes every effort to ensure that the online service is as reliable and
            trouble-free as possible.
            as far as technically possible.
        </li>
        <li>In the event of a service failure, each user is responsible for his or her own content.
            responsible. For this purpose, the export function of the respective card set should be
            activated regularly.
            to ensure your own content should 🍅cards fail.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Passwords and account security</h2>
    <p>
    <ul>
        <li>Each user is solely responsible for maintaining the confidentiality of his or her password.
            responsible.
        </li>
        <li>Should a user become aware that the user account is being used unauthorized by a
            If 🍅cards is used by third parties, he is obliged to inform 🍅cards immediately.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Protection of privacy</h2>
    <p>
    <ul>
        <li>🍅cards respects the privacy of its users. All data protection regulations
            are adhered to. Personal data such as e-mail address or login details will not be passed on to
            third parties.
            third parties, except in cases of a legal obligation.
        </li>
        <li>Saved learning statistics and batches of a user are also protected as long as
            the user does not explicitly allow other users of 🍅cards to view it
            (publication of the user profile). This is done implicitly if a user should call the
            attain the role of a &raquo;Pro-User&laquo; or &raquo;Lecturer-User&laquo;.
        </li>
        <li>When deleting a user account of 🍅cards all personal data and private data will be deleted.
            card sets deleted. The user account can be deleted under the profile settings
            will be.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Content on 🍅cards</h2>
    <p>
    <ul>
        <li>Every user of 🍅cards is responsible for all content that he enters and saves (e. g. texts),
            pictures), self responsible.
        </li>
        <li>Each user confirms to 🍅cards that he/she is aware of all rights, powers of attorney and
            rights
            of attorney.
            authorizations to publish its contents.
        </li>
        <li>Each user acknowledges that he/she is solely responsible for all content that he/she has
            provided during the use of
            🍅cards creates, transmits or displays and the effects of its actions.
            (including any loss or damage incurred by 🍅cards or third parties as a result thereof)
            is responsible.
        </li>
        <li>Should a user create content that violates applicable law, 🍅cards reserves the right to
            the right to delete these contents.
        </li>
        <li>Learning content created by users independently and made available to the public
            according to the <a
                    href="https://creativecommons.org/licenses/"
                    target="_blank">Creative Commons License</a> stated in the card set.
            can be further used.
        </li>
        <li>In the case of unpublished learning content that does not infringe the copyright of third
            parties, the following applies
            Copyright by the user.
        </li>
        <li>Every user is aware that published learning content from other users of 🍅cards
            can be re-used. Since the published contents are protected by copyright after deletion of the
            user
            each user declares his or her agreement to the fact that the
            may continue to be used by other users and others for the sole purpose of providing content to
            third parties.
            can be provided.
        </li>
    </ul>
    </p>
    <br/>
    <h2>🍅cards FREE and 🍅cards PRO (currently in free trial operation)</h2>
    <p>
    <ul>
        <li>🍅cards can be used free of charge in the free version, but not all learning contents of the
            🍅cards can be used.
            platform can be viewed.
        </li>
        <li>The Pro-version of 🍅cards is available as soon as the user has received the 🍅cards at the
            time of installation.
            valid price for a description of performance.
        </li>
        <li>The fees for the Pro version and the paid learning content are based on the amount of money that
            you have paid for.
            valid price and service description valid at the time the respective contract is concluded or
            from
            that
            Price of the learning content available for purchase and includes the statutory value added tax.
        </li>
        <li>The duration of the Pro version is automatically renewed every month until cancellation.</li>
        <li>If a user of 🍅cards decides for the free version after the end of the Pro version,
            agrees that he/she can only use 🍅cards when he/she has received the
            performance description of the free version fulfilled.
        </li>
        <li>🍅cards uses the services of third parties in order to make purchases or financial
            transactions.
            to be processed. These are clearly marked in the ordering process.
        </li>
        <li>The Terms and Conditions shall remain in effect until terminated by the User or 🍅cards
            will be.
        </li>
        <li>The cancellation of the free version of 🍅cards is done by deleting the account. This is
            under the profile settings.
        </li>
        <li>The Pro version can be cancelled by the user at any time and has to be cancelled by the end of
            the trial period.
            The option to use 🍅cards is still available for monthly billing periods.
        </li>
        <li>🍅cards does not grant refunds or credits for incomplete months.
            or unused learning content.
        </li>
        <li>
            🍅cards may terminate the contract with the user at any time, if:
            <ul>
                <li>the user violates the terms of the contract,</li>
                <li>🍅cards is no longer operated by the provider.</li>
            </ul>
        </li>
    </ul>
    </p>
    <br/>
    <h2>Right of withdrawal</h2>
    <p>
    <ul>
        <li>The user has the right to withdraw his declaration of contract within 14 days without giving any
            details of
            reasons to revoke. The period begins from the date of conclusion of the contract.
        </li>
        <li>In order to exercise the revocation, it is necessary to have a clear statement of the decision
            to withdraw from the contract.
            can be sent on a permanent data carrier (e. g. letter, fax, e-mail).
            The declaration must be sent to the following address: Technical University Mittelhessen,
            Wiesenstraße 14,35390 Gießen, Germany, E-Mail: <a
                    href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>.
        </li>
        <li>In order to comply with the revocation period, it is sufficient to send the notice of revocation
            in good time.
            Exercise of the right of withdrawal before expiry of the cancellation period.
        </li>
        <li>In the event of an effective revocation, the services received by both parties must be returned,
            as far as possible (deletion of the user).
        </li>
        <li>The refund of services received must be made within 14 days. The period begins
            in the case of the user with the dispatch of the revocation declaration, for us with the
            receipt. For the
            We will use the same method of payment as that used for the original payment.
            transaction unless expressly agreed otherwise. E flat
            under no circumstances will any further fees be charged upon repayment.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Warranty</h2>
    <p>
    <ul>
        <li>🍅cards does not accept any responsibility for the learning content and content provided by
            users.
            does not adopt it as its own.
        </li>
        <li>🍅cards offers only the technical service for creating, storing and exchanging data.
            of the created learning content.
        </li>
        <li>A permanent review of all posted contents for possible legal infringements is not permitted.
            and therefore does not take place.
        </li>
        <li>🍅cards reacts to legal infringements after a justified reference and reserves the right to
            take legal action, criminal or criminal offence.
            to delete the contents of liability law without delay.
        </li>
        <li>🍅cards does not guarantee the correctness of the learning content. All All
            Learning content is created and/or modified by users of the system. A review
            🍅cards cannot be held responsible for correctness.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Changes to the Contractual Terms and Conditions</h2>
    <p>
    <ul>
        <li>🍅cards reserves the right to change these terms and conditions at any time.
            to be carried out.
        </li>
        <li>The users of 🍅cards are informed by e-mail or by a message in the system about changes to the
            system.
            of the General Terms and Conditions. The changes take effect when the
            User does not object to the changes within 14 days after receipt of the information. In the
            E-mail or message will be sent separately for the possibility of objection and its deadline.
            is indicated.
        </li>
        <li>In all other respects, the statutory warranty provisions shall apply.</li>
        <li>🍅cards reserves the right, in case of contradiction of the changed terms and conditions of
            business, to change the terms and conditions.
            terminate and terminate the user relationship. The user has the right to change the
            Contractual relationship within 4 weeks after amendment of the General Terms and Conditions of
            Business until
            by the end of next month.
        </li>
    </ul>
    </p>
    <br/>
    <h2>Other conditions</h2>
    <p>
    <ul>
        <li>🍅cards does not guarantee the learning and examination success.</li>
        <li>If a user violates these general terms and conditions, 🍅cards reserves the right to change
            these terms and conditions.
            right to delete content posted by this user. In case of repeated violation of the
            user, the corresponding user account is blocked.
        </li>
    </ul>
    </p>
    <br/>
    <p>Last update: 15.05.2018</p>
</template>
