<template name="filterIndexItemCard">
    {{#if firstItem this.index}}
        <div class="hidden-xs {{#if isCardsetTranscriptBonusRoute}}col-sm-4{{else}}col-sm-6{{/if}} resultsHeader">
            {{#if isBonusTranscriptsRoute}}
                {{_ "transcriptForm.index.topicBonus"}}
            {{else}}
                {{_ "transcriptForm.index.topic"}}
            {{/if}}
        </div>
        {{#if isCardsetTranscriptBonusRoute}}
            <div class="hidden-xs col-sm-2 resultsHeader resultHeaderCategory">
                {{_ "set-list.authorPublisher"}}
            </div>
        {{/if}}
        <div class="hidden-xs col-sm-3 resultsHeader resultHeaderCategory">
            {{_ "pool.release"}} <span class="resultDateRight">{{_ "pool.dateUpdated"}}</span>
        </div>
        <div class="hidden-xs col-sm-3 resultsHeader resultHeaderCategory">
           {{_ "set-list.categoryOptions"}}
        </div>
    {{/if}}
    <div class="resultItem col-xs-12">
        <div class="resultItemHeaderWrapper">
            <div class="resultItemHeader resultItemHeaderLeftArea resultItemHeaderAuthor resultItemHeaderCardType resultName {{#if isBonusTranscriptsRoute}}{{#unless isBonusTranscriptsRouteAndDeadlineExpired}}resultNameBonusTranscript{{/unless}}{{/if}} {{#if isCardsetTranscriptBonusRoute}}col-xs-10 col-sm-4{{else}}col-xs-12 col-sm-6{{/if}} {{getCardsetBackground
                    this.difficulty this.cardType}}"
                 data-type="{{this.subject}}">
                <a href="/presentation/transcripts/{{#if isBonusTranscriptsRoute}}bonus/{{/if}}{{#if isCardsetTranscriptBonusRoute}}{{getCardsetID}}/{{/if}}{{this._id}}">
                    {{#if isBonusTranscriptsRoute}}
                        {{getBonusLectureName}}
                    {{else}}
                        {{this.subject}}
                    {{/if}}
                </a>
                {{#if isBonusTranscriptsRoute}}
                    {{#unless isBonusTranscriptsRouteAndDeadlineExpired}}
                    <span class="hidden-xs transcript-info-text">
                        <br>{{getBonusLectureDeadline}}
                    </span>
                    {{/unless}}
                    <span class="hidden-sm">
                        {{> transcriptFormSubmissionBadge}}
                    </span>
                {{/if}}
            </div>
            {{#if isCardsetTranscriptBonusRoute}}
                <div class="resultItemHeader resultItemHeaderLeftArea resultItemHeaderAuthor resultItemHeaderCardType resultName col-xs-2 col-sm-2 {{getCardsetBackground
                        this.difficulty this.cardType}}" data-id="{{this.owner}}">
                    {{getAuthorName this.owner}}
                </div>
            {{/if}}
            <div class="resultItemHeader resultItemHeaderLeftArea resultItemHeaderAuthor resultItemHeaderCardType resultName hidden-xs col-sm-3 {{getCardsetBackground
                    this.difficulty this.cardType}}">
                {{getMomentsDateShort  this.date}}<span class="resultDateRight">{{getMomentsDateShort
                    this.dateUpdated}}</span>
            </div>
            <div class="resultItemHeader resultItemHeaderRightArea collapseButton col-xs-12 col-sm-3">
                <div class="resultItemHeaderRightAreaTop col-xs-9 col-sm-12">
                    {{{getTranscriptBonusLabel this}}}
                    {{{getCardTypeLabel this.cardType}}}
                </div>
                <div class="resultItemHeaderRightAreaBottom col-xs-3 col-sm-12">
                    {{#unless isCardsetTranscriptBonusRoute}}
                        {{#unless isMyBonusTranscriptsRouteAndDeadlineExpired}}
                            <a class="resultNavigationElement editCard hidden-xs" {{disableIfOffline}}
                               title='{{_ "transcriptForm.index.tooltip.edit"}}' data-id="{{this._id}}">
                                <i class="glyphicon glyphicon-edit" data-id="{{this._id}}"></i>
                            </a>
                        {{/unless}}
                        <a class="resultNavigationElement deleteCard" {{disableIfOffline}}
                           title='{{_ "transcriptForm.index.tooltip.delete"}}'  data-toggle="modal" data-target="#deleteTranscriptModal" data-id="{{this._id}}">
                            <i class="result fa fa-trash" data-id="{{this._id}}"></i>
                        </a>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</template>
