.resultItem {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: $margin_bottom_item !important;
  @media(min-width: 768px) {
    margin-bottom: $margin_bottom_item !important;
  }
}

.resultItemHeader {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  @media(min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.resultItemHeaderRightArea {
  font-size: 16px;
  padding: 0;
  height: 53px;
  @media(max-width: 767px) {
    height: 35px;
    font-size: 15px;
  }
}

.resultItemHeaderRightAreaTop {
  line-height: 16px;
  padding-right: 0;
}

.resultItemHeaderRightAreaBottom {
  padding-top: 8px;
  padding-right: 10px;
}

.resultItemHeaderRightAreaTop, .resultItemHeaderRightAreaBottom  {
  padding-left: 0;
}

.resultDateRight {
  width: 50%;
  float: right;
  text-align: left;
}

.resultItemHeaderLeftArea a {
  padding: 0;
}

.resultTableContent {
  margin-top: 15px;
  padding: 0;
}

.resultTableContent table {
  margin: 0;
}

.resultDescription {
  margin: 15px 0 0;
  padding: 15px;
}

.resultNavigationElement {
  margin-left: 10px;
  cursor: pointer;
}

.resultName, .authorProfile {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.resultName {
  padding-right: 30px !important;
}

.resultNameBonusTranscript {
  @media(min-width: 768px) {
    padding-top: 4px !important;
    padding-bottom: 3px !important;
  }
}

.authorProfile {
  padding-right: 0;
}

.resultBadge {
  position: absolute;
  float: right;
  right: 10px;
  bottom: 5px;
  @media(min-width: 768px) {
    bottom: 15px;
  }
}

.resultsHeader {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.shuffleButton {
  top: 3px;
  margin-left: 20px;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.result.fa-trash, .result.fa-cloud-download {
  font-size: 19px;
}

.resultTableContent a {
  text-decoration: underline !important;
}

.resultHeaderCategory {
  padding-left: 0;
}

.resultItemHeaderCardType {
  padding-right: 0 !important;
}

.collapseCardsetInfoIcon {
  cursor: pointer;

}

.resultItemHeaderWrapper {
  display: block;
  width: 100%;
  float: none;
  overflow: hidden;
}
