@import "changing-colors-definitions";

@function theme-default() {
  //global sass colors
  $thm_dark_blue: #178FFF;
  $thm_blue: #178FFF;
  $thm_orange: #FF9F30;
  $thm_red: #ef4d3c;
  $thm_gray: #4A5C66;
  $thm_green: #2ac55f;
  $athens_gray_approx: rgb(236, 240, 241);
  $white: white;
  $bilbao_approx: rgb(50, 129, 20);
  $mercury_approx: rgb(223, 229, 230);
  $la_palma_approx: rgb(61, 156, 25);
  $wild_sand_approx: rgb(245, 245, 245);
  $slate_gray_approx: rgb(74, 92, 102);
  $alto_approx: rgb(221, 221, 221);
  $storm_dust_approx: rgb(102, 102, 102);
  $mountain_mist_approx: rgb(153, 153, 153);
  $orange_pool: $thm_orange;
  $btn_inactive: #9e9c9c;
  $item_separator: $thm_gray;
  $footer_hover: rgb(215, 215, 215);
  $hyperlink: $thm_dark_blue;
  $primary: $thm_gray;
  $accent: $thm_green;
  $primary_text: #212121;
  $secondary_text: $white;
  $divider: gray;
  $accent_300: #f0efef;
  $background: yellow;
  $button_background_hover: midnightblue;
  $button_text_hover: white;
  $input_textarea_border_active: $thm_orange;
  $input_textarea_border_inactive: $divider;
  $input_textarea_background_active: lightgoldenrodyellow;
  $input_textarea_background_inactive: #F0F0F0;
  $input_textarea_text_active: black;
  $input_textarea_text_inactive: black;
  $item_icon_hover: midnightblue;
  $default_background: black;

  @return (
    //background (Deactivate the image with "none" if you want to use the background-color)
          "background_landing_page" : $default_background,
          "background_internal" : $default_background,
          "background_demo": $default_background,
          "background_presentation": $default_background,
          "background_learning": $default_background,
          "background_backend" : $default_background,
          "background_editor": $default_background,
          "background_transcript_bonus": $default_background,
    //global colors
          "thm_dark_blue":$thm_dark_blue,
          "thm_blue":$thm_blue,
          "thm_orange":$thm_orange,
          "thm_red":$thm_red,
          "thm_gray":$thm_gray,
          "thm_green":$thm_green,
          "athens_gray_approx":$athens-gray-approx,
          "white":$white,
          "bilbao_approx":$bilbao-approx,
          "mercury_approx":$mercury-approx,
          "la_palma_approx":$la-palma-approx,
          "wild_sand_approx":$wild-sand-approx,
          "slate_gray_approx":$slate-gray-approx,
          "$alto_approx":$alto_approx,
          "$storm_dust_approx":$storm_dust_approx,
          "$mountain_mist_approx":$mountain_mist_approx,
          "primary": $primary,
          "accent": $accent,
          "primary_text": $primary_text,
          "secondary_text": $secondary_text,
          "divider": $divider,
          "accent_300": $accent_300,
          "background": $background,
          "hyperlink": $hyperlink,
          "modal_icon": $thm_gray,
    //global button and label colors
          "demo_background": $thm_green,
          "demo_text": $white,
          "free_background": $thm_dark_blue,
          "free_text": $white,
          "edu_background": $thm_green,
          "edu_text": $white,
          "pro_background": $thm_orange,
          "pro_text": $white,
          "private_background": $thm_red,
          "private_text": $white,
          "danger_background": $thm_orange,
          "danger_text": $white,
          "info_background": $thm_dark_blue,
          "info_text": $white,
          "success_background": $thm_green,
          "success_text": $white,
          "warning_background": $thm_red,
          "warning_text": $white,
          "disabled_background": $btn_inactive,
          "disabled_text": $mercury_approx,
          "shuffled_background": brown,
          "shuffled_text": white,
          "bonus_background": $thm_red,
          "bonus_text": $white,
          "bonus_transcript_background": $thm_orange,
          "bonus_transcript_text": $white,
          "card_type_background": darkviolet,
          "card_type_text": white,
          "button_background_hover": $button_background_hover,
          "button_text_hover": $button_text_hover,
          "input_textarea_border_active": $input_textarea_border_active,
          "input_textarea_border_inactive": $input_textarea_border_inactive,
          "input_textarea_background_active": $input_textarea_background_active,
          "input_textarea_background_inactive": $input_textarea_background_inactive,
          "input_textarea_text_active": $input_textarea_text_active,
          "input_textarea_text_inactive": $input_textarea_text_inactive,
          "button_navbar_collapse_text": white,
    //barfy stars
          "barfy_stars_particles_1": $thm_blue,
          "barfy_stars_particles_2": $thm_orange,
          "barfy_stars_particles_3": white,
          "barfy_stars_particles_4": $thm_red,
          "barfy_stars_particles_5": $thm_green,
    //login
          "login_facebook_background": #3A5998,
          "login_facebook_background_hover": $button_background_hover,
          "login_facebook_icon": white,
          "login_facebook_icon_hover": $button_text_hover,
          "login_twitter_background": #0099e5,
          "login_twitter_background_hover": $button_background_hover,
          "login_twitter_icon": white,
          "login_twitter_icon_hover": $button_text_hover,
          "login_google_background": #DB4437,
          "login_google_background_hover": $button_background_hover,
          "login_google_icon": white,
          "login_google_icon_hover": $button_text_hover,
          "login_cas_background": white,
          "login_cas_background_hover": $button_background_hover,
          "login_cas_icon": black,
          "login_cas_icon_hover": $button_text_hover,
          "login_guest_background": white,
          "login_guest_background_hover": $button_background_hover,
          "login_guest_icon": black,
          "login_guest_icon_hover": $button_text_hover,
          "login_pro_background": $thm_orange,
          "login_pro_background_hover": $button_background_hover,
          "login_pro_icon": white,
          "login_pro_icon_hover": $button_text_hover,
          "login_backdoor_background": $primary,
          "login_backdoor_background_hover": $button_background_hover,
          "login_backdoor_icon": white,
          "login_backdoor_icon_hover": $button_text_hover,
    //ratings
          "current_rating": $thm_orange,
          "hover_rating": $thm_blue,
    //navbar
          "navbar_background": black,
          "navbar_text": white,
          "navbar_text_hover": $button_text_hover,
    //navbar all
          "navbar_all_background": black,
          "navbar_all_background_hover": $button_background_hover,
          "navbar_all_background_active": black,
          "navbar_all_text": white,
          "navbar_all_text_hover": $button_text_hover,
          "navbar_all_text_active": $thm_orange,
          "navbar_all_border": $thm_orange,
          "navbar_all_border_hover": $button_background_hover,
          "navbar_all_border_active": $thm_orange,
          "navbar_all_cardsets_background": $thm_gray,
          "navbar_all_cardsets_background_hover": $button_background_hover,
          "navbar_all_cardsets_background_active": $thm_orange,
          "navbar_all_cardsets_text": white,
          "navbar_all_cardsets_text_hover": $button_text_hover,
          "navbar_all_cardsets_text_active": white,
          "navbar_all_repetitorien_background": $thm_gray,
          "navbar_all_repetitorien_background_hover": $button_background_hover,
          "navbar_all_repetitorien_background_active": $thm_orange,
          "navbar_all_repetitorien_text": white,
          "navbar_all_repetitorien_text_hover": $button_text_hover,
          "navbar_all_repetitorien_text_active": white,
    //navbar transcripts
          "navbar_transcripts_background": black,
          "navbar_transcripts_background_hover": $button_background_hover,
          "navbar_transcripts_background_active": black,
          "navbar_transcripts_text": white,
          "navbar_transcripts_text_hover": $button_text_hover,
          "navbar_transcripts_text_active": $thm_green,
          "navbar_transcripts_personal_background": $thm_gray,
          "navbar_transcripts_personal_background_hover": $button_background_hover,
          "navbar_transcripts_personal_background_active": $thm_green,
          "navbar_transcripts_personal_text": white,
          "navbar_transcripts_personal_text_hover": $button_text_hover,
          "navbar_transcripts_personal_text_active": white,
          "navbar_transcripts_bonus_background": $thm_gray,
          "navbar_transcripts_bonus_background_hover": $button_background_hover,
          "navbar_transcripts_bonus_background_active": $thm_green,
          "navbar_transcripts_bonus_text": white,
          "navbar_transcripts_bonus_text_hover": $button_text_hover,
          "navbar_transcripts_bonus_text_active": white,
    //navbar personal
          "navbar_personal_background": black,
          "navbar_personal_background_hover": $button_background_hover,
          "navbar_personal_background_active": black,
          "navbar_personal_text": white,
          "navbar_personal_text_hover": $button_text_hover,
          "navbar_personal_text_active": $thm_green,
          "navbar_personal_transcripts_background": $thm_gray,
          "navbar_personal_transcripts_background_hover": $button_background_hover,
          "navbar_personal_transcripts_background_active": $thm_green,
          "navbar_personal_transcripts_text": white,
          "navbar_personal_transcripts_text_hover": $button_text_hover,
          "navbar_personal_transcripts_text_active": white,
          "navbar_personal_cardsets_background": $thm_gray,
          "navbar_personal_cardsets_background_hover": $button_background_hover,
          "navbar_personal_cardsets_background_active": $thm_green,
          "navbar_personal_cardsets_text": white,
          "navbar_personal_cardsets_text_hover": $button_text_hover,
          "navbar_personal_cardsets_text_active": white,
          "navbar_personal_repetitorien_background": $thm_gray,
          "navbar_personal_repetitorien_background_hover": $button_background_hover,
          "navbar_personal_repetitorien_background_active": $thm_green,
          "navbar_personal_repetitorien_text": white,
          "navbar_personal_repetitorien_text_hover": $button_text_hover,
          "navbar_personal_repetitorien_text_active": white,
    //navbar public
          "navbar_public_background": black,
          "navbar_public_background_hover": $button_background_hover,
          "navbar_public_background_active": black,
          "navbar_public_text": white,
          "navbar_public_text_hover": $button_text_hover,
          "navbar_public_text_active": $thm_green,
          "navbar_public_cardsets_background": $thm_gray,
          "navbar_public_cardsets_background_hover": $button_background_hover,
          "navbar_public_cardsets_background_active": $thm_green,
          "navbar_public_cardsets_text": white,
          "navbar_public_cardsets_text_hover": $button_text_hover,
          "navbar_public_cardsets_text_active": white,
          "navbar_public_repetitorien_background": $thm_gray,
          "navbar_public_repetitorien_background_hover": $button_background_hover,
          "navbar_public_repetitorien_background_active": $thm_green,
          "navbar_public_repetitorien_text": white,
          "navbar_public_repetitorien_text_hover": $button_text_hover,
          "navbar_public_repetitorien_text_active": white,

          "navbar_learn_background": black,
          "navbar_learn_background_hover": $button_background_hover,
          "navbar_learn_background_active": black,
          "navbar_learn_text": white,
          "navbar_learn_text_hover": $button_text_hover,
          "navbar_learn_text_active": $thm_green,

          "navbar_search_placeholder": $thm_gray,
          "navbar_search_button_background": white,
          "navbar_search_button_icon": $button_background_hover,
          "navbar_search_button_background_hover": $button_background_hover,
          "navbar_search_button_icon_hover": white,
          "navbar_search_clear_icon": $thm_orange,

          "navbar_help_background": black,
          "navbar_help_background_hover": $button_background_hover,
          "navbar_help_background_active": black,
          "navbar_help_text": white,
          "navbar_help_text_hover": $button_text_hover,
          "navbar_help_text_active": $thm_green,

          "navbar_backend_background": black,
          "navbar_backend_background_hover": $button_background_hover,
          "navbar_backend_text": white,
          "navbar_backend_text_hover": white,

          "navbar_notifications_background": black,
          "navbar_notifications_background_hover": $button_background_hover,
          "navbar_notifications_text": white,
          "navbar_notifications_text_hover": $button_text_hover,

          "navbar_profile_background": black,
          "navbar_profile_background_hover": $button_background_hover,
          "navbar_profile_background_active": black,
          "navbar_profile_text": white,
          "navbar_profile_text_hover": $button_text_hover,
          "navbar_profile_text_active": $thm_green,
          "navbar_profile_dropdown_background": $thm_gray,
          "navbar_profile_dropdown_background_opacity": 0.9,
          "navbar_profile_dropdown_background_hover": $button_background_hover,
          "navbar_profile_dropdown_background_active": $thm_green,
          "navbar_profile_dropdown_text": white,
          "navbar_profile_dropdown_text_hover": $button_text_hover,
          "navbar_profile_dropdown_text_active": white,

          "navbar_logout_background": black !important,
          "navbar_logout_background_hover": midnightblue,
          "navbar_logout_text": white !important,
          "navbar_logout_text_hover": white,

          "navbar_websocket_connected": green,
          "navbar_websocket_connecting": yellow,
          "navbar_websocket_disconnected": red,
          "navbar_websocket_background_active": black,
          "navbar_websocket_background_hover": $button_background_hover,
    //welcome page colors
          "welcome_page_login_label": white,
          "welcome_page_login_label_shadow": $thm_gray,
          "placeholder": $thm_orange,
    //server statistics colors
          "server_statistics_table_header_background": $thm_gray,
          "server_statistics_table_header_text": white,
          "server_statistics_table_header_counter": white,
          "server_statistics_table_row_background": white,
          "server_statistics_table_row_text": $primary_text,
          "server_statistics_table_row_counter": $primary_text,
    //footer colors
          "footer_welcome_page_info_icon_text" : white,
          "footer_welcome_page_info_icon_text_hover": $button_background_hover,
          "footer_navigation_text": white,
          "footer_navigation_text_active": $thm_green,
          "footer_navigation_text_hover": $button_text_hover,
          "footer_navigation_background": black,
          "footer_navigation_background_active": black,
          "footer_navigation_background_hover": $button_background_hover,
          "footer_home_button_icon": white,
          "footer_home_button_icon_hover": $button_text_hover,
    //impressum colors
          "info_content_header_text": white,
          "info_content_header_background": $thm_green,
          "info_content_body_text": $thm_gray,
          "info_content_body_background": LightGoldenRodYellow,
    //editor navigation colors
          "item_selection_border": $item_separator,
    //filter colors
          "filter_navigation_background": WhiteSmoke,
          "filter_navigation_text": $thm_gray,
          "filter_navigation_icon_active": $thm_orange,
          "filter_navigation_background_hover": $button_background_hover,
          "filter_navigation_text_hover": $button_text_hover,
          "filter_button_background": white,
          "filter_button_icon": $button_background_hover,
          "filter_button_background_active": $thm_orange,
          "filter_button_icon_active": white,
          "filter_button_background_hover": $button_background_hover,
          "filter_button_icon_hover": white,
          "filter_border": $thm_gray,
    //display mode colors
          "display_mode_background": white,
          "display_mode_text": $button_background_hover,
          "display_mode_background_hover" : $button_background_hover,
          "display_mode_text_hover": $button_text_hover,
    //item lists colors
          "item_separator_border_bottom": $thm_gray,
          "infinite_scroll_background": $thm_gray,
          "infinite_scroll_icon": $thm_orange,
          "infinite_scroll_text": white,
          "item_background": $thm_gray,
          "item_icon": white,
          "item_icon_hover": $item_icon_hover,
          "item_author_text": black,
          "item_description_background": LightGoldenRodYellow,
          "item_description_text": $thm_gray,
          "item_text": white,
          "item_content_link": white,
          "no_results_background": white,
          "no_results_text": $thm_gray,
    //difficulty colors
          "button_difficulty0_note": darkorange,
          "button_difficulty0": darkorange,
          "button_difficulty1": green,
          "button_difficulty2": blue,
          "button_difficulty3": red,
          "button_difficulty_inactive": $wild_sand_approx,
          "background_difficulty0_note": ivory,
          "background_difficulty0": LightGoldenRodYellow,
          "background_difficulty1": honeydew,
          "background_difficulty2": lightcyan,
          "background_difficulty3": mistyrose,
          "background_difficulty0_lines_note": #F8E1AE,
          "background_difficulty0_lines": PaleGoldenRod,
          "background_difficulty1_lines": rgba(92, 184, 92, 0.3),
          "background_difficulty2_lines": rgba(91, 192, 222, 0.3),
          "background_difficulty3_lines": rgba(217, 83, 79, 0.3),
          "background_white": $white,
          "background_white_lines": $thm_gray,
          "background_post_it": lightgoldenrodyellow,
          "background_post_it_lines": $thm_orange,
          "background_pink": lightcoral,
          "background_pink_lines": crimson,
    //card list
          "card_list_number_background": $thm_green,
          "card_list_number_text": white,
    //card-navigation colors
          "card_navigation_active_background": $primary,
          "card_navigation_active_text": white,
          "card_navigation_active_background_hover": $primary,
          "card_navigation_active_text_hover": white,
          "card_navigation_background": $athens_gray_approx,
          "card_navigation_text": $primary_text,
          "card_navigation_background_hover": $button_background_hover,
          "card_navigation_text_hover": $button_text_hover,
    //cube colors
          "cube_border": lightgray,
    //card colors
          "background_mobile_preview": $btn_inactive,
          "background_lecture": LightGoldenRodYellow,
          "background_hint": WhiteSmoke,
          "background_hint_alternative": LightPink,
          "lecture_presentation_header_lines": $thm_orange,
          "hint_presentation_header_lines": $thm_gray,
          "hint_alternative_presentation_header_lines": $thm_red,
          "hint_text": $thm_gray,
          "hint_text_alternative": $thm_gray,
          "hint_link": $thm_orange,
          "hint_link_alternative": $hyperlink,
          "hint_placeholder": $thm_green,
          "hint_placeholder_alternative": $thm_orange,
          "hint_header_border": $thm_orange,
          "hint_header_border_alternative": $thm_orange,
          "navigation_arrows": $thm_gray,
          "card_header_card_number": $thm_gray,
          "card_header_first_row": $thm_gray,
          "card_header_second_row": $thm_gray,
          "card_header_subject": $thm_gray,
          "card_header_subject_placeholder": $thm_orange,
          "card_content_zoom_button_active": $thm_orange,
          "card_content_zoom_slider_container_background": $thm_gray,
          "card_content_zoom_slider_container_text": white,
          "card_content_zoom_slider_container_percentage": $thm_orange,
          "card_content_zoom_slider_container_bar": white,
          "card_content_zoom_slider_container_handle": $thm_orange,
    //card sidebar colors
          "card_sidebar_border": rgba($thm_gray, 0.6),
          "card_sidebar_background" : rgba($mercury_approx, 0.6),
          "card_sidebar_edit_button_background": $thm_green,
          "card_sidebar_edit_button_text": white,
          "card_sidebar_edit_button_background_hover": $button_background_hover,
          "card_sidebar_edit_button_text_hover": $button_text_hover,
          "card_sidebar_delete_button_background": $thm_red,
          "card_sidebar_delete_button_text": white,
          "card_sidebar_delete_button_background_hover": $button_background_hover,
          "card_sidebar_delete_button_text_hover": $button_text_hover,
          "card_sidebar_toggle_button_background": $thm_blue,
          "card_sidebar_toggle_button_text": white,
          "card_sidebar_toggle_button_opacity": 1,
          "card_sidebar_toggle_button_background_hover": $button_background_hover,
          "card_sidebar_toggle_button_text_hover": $button_text_hover,
          "card_sidebar_toggle_button_background_active": transparent,
          "card_sidebar_toggle_button_text_active": black,
          "card_sidebar_toggle_button_opacity_active": 1.0,
          "card_sidebar_toggle_button_background_active_hover": $button_background_hover,
          "card_sidebar_toggle_button_text_active_hover": $button_text_hover,
          "card_sidebar_aspect_ratio_background": white,
          "card_sidebar_aspect_ratio_text": $thm_blue,
          "card_sidebar_aspect_ratio_background_hover": $button_background_hover,
          "card_sidebar_aspect_ratio_text_hover": $button_text_hover,
          "card_sidebar_aspect_ratio_dropdown_background": none,
          "card_sidebar_aspect_ratio_dropdown_text": black,
          "card_sidebar_aspect_ratio_dropdown_border": black,
          "card_sidebar_aspect_ratio_dropdown_background_hover": $button_background_hover,
          "card_sidebar_aspect_ratio_dropdown_text_hover": $button_text_hover,
          "card_sidebar_aspect_ratio_dropdown_background_active": $thm_blue,
          "card_sidebar_aspect_ratio_dropdown_text_active": white,
          "card_sidebar_aspect_ratio_dropdown_background_active_hover": $button_background_hover,
          "card_sidebar_aspect_ratio_dropdown_text_active_hover": $button_text_hover,
          "card_sidebar_aspect_ratio_menu_background": white,
          "card_sidebar_aspect_ratio_menu_separator": black,
    //cardset colors
          "cardset_markdeep_background": LightGoldenRodYellow,
          "cardset_markdeep_header_border": $thm_orange,
          "cardset_markdeep_text": $thm_gray,
          "cardset_markdeep_link": $thm_orange,
          "cardset_markdeep_placeholder": $thm_green,
          "cardset_footer_navigation_background": $thm_gray,
          "cardset_footer_navigation_presentation_background": $thm_dark_blue,
          "cardset_footer_navigation_presentation_text": white,
          "cardset_footer_navigation_presentation_background_hover": $button_background_hover,
          "cardset_footer_navigation_presentation_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_background": $thm_green,
          "cardset_footer_navigation_learn_text": white,
          "cardset_footer_navigation_learn_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_leitner_background": none,
          "cardset_footer_navigation_learn_list_leitner_text": black,
          "cardset_footer_navigation_learn_list_leitner_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_leitner_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_wozniak_background": none,
          "cardset_footer_navigation_learn_list_wozniak_text": black,
          "cardset_footer_navigation_learn_list_wozniak_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_wozniak_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_choose_background": none,
          "cardset_footer_navigation_learn_list_choose_text": black,
          "cardset_footer_navigation_learn_list_choose_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_choose_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_progress_background": none,
          "cardset_footer_navigation_learn_list_progress_text": black,
          "cardset_footer_navigation_learn_list_progress_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_progress_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_reset_leitner_background": $thm_orange,
          "cardset_footer_navigation_learn_list_reset_leitner_text": white,
          "cardset_footer_navigation_learn_list_reset_leitner_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_reset_leitner_text_hover": $button_text_hover,
          "cardset_footer_navigation_learn_list_reset_wozniak_background": $thm_orange,
          "cardset_footer_navigation_learn_list_reset_wozniak_text": white,
          "cardset_footer_navigation_learn_list_reset_wozniak_background_hover": $button_background_hover,
          "cardset_footer_navigation_learn_list_reset_wozniak_text_hover": $button_text_hover,
          "cardset_footer_navigation_new_card_background": $thm_orange,
          "cardset_footer_navigation_new_card_text": white,
          "cardset_footer_navigation_new_card_background_hover": $button_background_hover,
          "cardset_footer_navigation_new_card_text_hover": $button_text_hover,
          "cardset_footer_navigation_import_cards_background": none,
          "cardset_footer_navigation_import_cards_text": black,
          "cardset_footer_navigation_import_cards_background_hover": $button_background_hover,
          "cardset_footer_navigation_import_cards_text_hover": $button_text_hover,
          "cardset_footer_navigation_edit_shuffle_background": $thm_orange,
          "cardset_footer_navigation_edit_shuffle_text": white,
          "cardset_footer_navigation_edit_shuffle_background_hover": $button_background_hover,
          "cardset_footer_navigation_edit_shuffle_text_hover": $button_text_hover,
          "cardset_footer_navigation_edit_cardset_background": none,
          "cardset_footer_navigation_edit_cardset_text": black,
          "cardset_footer_navigation_edit_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_edit_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_select_license_background": none,
          "cardset_footer_navigation_select_license_text": black,
          "cardset_footer_navigation_select_license_background_hover": $button_background_hover,
          "cardset_footer_navigation_select_license_text_hover": $button_text_hover,
          "cardset_footer_navigation_publish_cardset_background": none,
          "cardset_footer_navigation_publish_cardset_text": black,
          "cardset_footer_navigation_publish_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_publish_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_background": $thm_green,
          "cardset_footer_navigation_bonus_text": white,
          "cardset_footer_navigation_bonus_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_start_learning_background": $thm_green,
          "cardset_footer_navigation_bonus_list_start_learning_text": white,
          "cardset_footer_navigation_bonus_list_start_learning_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_start_learning_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_manage_learning_background": none,
          "cardset_footer_navigation_bonus_list_manage_learning_text": black,
          "cardset_footer_navigation_bonus_list_manage_learning_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_manage_learning_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_stop_learning_background": $thm_orange,
          "cardset_footer_navigation_bonus_list_stop_learning_text": white,
          "cardset_footer_navigation_bonus_list_stop_learning_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_stop_learning_text_hover": $button_text_hover,
          "cardset_footer_navigation_bonus_list_show_stats_background": none,
          "cardset_footer_navigation_bonus_list_show_stats_text": black,
          "cardset_footer_navigation_bonus_list_show_stats_background_hover": $button_background_hover,
          "cardset_footer_navigation_bonus_list_show_stats_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_cardset_background": none,
          "cardset_footer_navigation_manage_cardset_text": black,
          "cardset_footer_navigation_manage_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_manage_editors_background": none,
          "cardset_footer_navigation_manage_list_manage_editors_text": black,
          "cardset_footer_navigation_manage_list_manage_editors_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_manage_editors_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_report_background": none,
          "cardset_footer_navigation_manage_list_report_text": black,
          "cardset_footer_navigation_manage_list_report_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_report_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_leave_learn_phase_background": $thm_orange,
          "cardset_footer_navigation_manage_list_leave_learn_phase_text": white,
          "cardset_footer_navigation_manage_list_leave_learn_phase_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_leave_learn_phase_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_leave_cardset_background": $thm_orange,
          "cardset_footer_navigation_manage_list_leave_cardset_text": white,
          "cardset_footer_navigation_manage_list_leave_cardset_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_leave_cardset_text_hover": $button_text_hover,
          "cardset_footer_navigation_manage_list_leave_editors_background": $thm_orange,
          "cardset_footer_navigation_manage_list_leave_editors_text": white,
          "cardset_footer_navigation_manage_list_leave_editors_background_hover": $button_background_hover,
          "cardset_footer_navigation_manage_list_leave_editors_text_hover": $button_text_hover,
          "cardset_footer_navigation_export_cards_background": none,
          "cardset_footer_navigation_export_cards_text": black,
          "cardset_footer_navigation_export_cards_background_hover": $button_background_hover,
          "cardset_footer_navigation_export_cards_text_hover": $button_text_hover,
          "cardset_footer_navigation_delete_all_cards_background": $thm_red,
          "cardset_footer_navigation_delete_all_cards_text": white,
          "cardset_footer_navigation_delete_all_cards_background_hover": $button_background_hover,
          "cardset_footer_navigation_delete_all_cards_text_hover": $button_text_hover,
          "cardset_footer_navigation_transcripts_background": $thm_green,
          "cardset_footer_navigation_transcripts_text": white,
          "cardset_footer_navigation_transcripts_background_hover": $button_background_hover,
          "cardset_footer_navigation_transcripts_text_hover": $button_text_hover,
    //markdeep colors
          "markdeep_inline_code_background": yellow,
          "markdeep_inline_code_text": black,
          "markdeep_blockquote_background": none,
          "markdeep_blockquote_text": $thm_gray,
          "markdeep_blockquote_author": $thm_gray,
          "markdeep_blockquote_quotes": $thm_orange,
          "markdeep_image_border": $thm_gray,
    //transcript bonus colors
          "transcript_bonus_info_text": white,
          "transcript_bonus_info_background": $thm_red,
          "transcript_bonus_info_lecture_date_year_text": white,
          "transcript_bonus_info_lecture_date_year_background": $thm_orange,
          "transcript_bonus_info_lecture_date_month_text": white,
          "transcript_bonus_info_lecture_date_month_background": $thm_gray,
          "transcript_bonus_info_lecture_date_day_border": white,
          "transcript_bonus_info_lecture_date_day_past_text": white,
          "transcript_bonus_info_lecture_date_day_past_background": rgba($thm_red, 0.5),
          "transcript_bonus_info_lecture_date_day_active_text": white,
          "transcript_bonus_info_lecture_date_day_active_background": $thm_green,
          "transcript_bonus_info_lecture_date_day_future_text": white,
          "transcript_bonus_info_lecture_date_day_future_background": rgba($thm_gray, 0.5),
          "transcript_bonus_info_lecture_date_day_hover_text": black,
          "transcript_bonus_info_lecture_date_day_hover_background": LightGoldenRodYellow,
          "transcript_bonus_submission_count_badge_text": white,
          "transcript_bonus_submission_count_badge_background": $thm_orange,
    //markdeep editor colors
          "markdeep_help_text": $white,
          "markdeep_help_background": $thm_orange,
          "markdeep_help_border": $thm_orange,
    //notification colors
          "notification_text_smartphones": white,
    //search colors
          "search_results_background": LightGoldenRodYellow,
          "search_results_info_background": $thm_gray,
          "search_results_info_text": white,
          "search_results_separator": white,
          "search_divide:": $thm_gray,
    //form group colors
          "form_group_label": black,
    //cardset form colors
          "cardset_form_list_background": $athens_gray_approx,
          "cardset_form_list_text": black,
          "cardset_form_border": black,
          "cardset_form_list_background_hover": $button_background_hover,
          "cardset_form_list_text_hover": $button_text_hover,
          "cardset_form_list_background_active": $athens_gray_approx,
          "cardset_form_list_text_active": black,
    //cookie consent colors
          "cookie_consent_link": white,
    //under development modal colors
          "under_development_modal_text": white,
          "under_development_modal_background": midnightblue,
    //presentation colors
          "presentation_clock_circle": none,
          "presentation_clock_background": none,
          "presentation_clock_center_circle": red,
          "presentation_clock_hour_marks": $thm_gray,
          "presentation_clock_hour_arm": $thm_gray,
          "presentation_clock_minute_arm": $thm_gray,
          "presentation_clock_second_arm": red,
    //modal colors
          "modal_overlay": rgba(0,0,0, 0.7),
          "modal_background": whitesmoke,
          "modal_text": black,
    //pomodoro colors
          "pomodoro_timer_fullscreen_overlay": rgba(0,0,0, 1),
          "pomodoro_timer_hand_circle": $thm_orange,
          "pomodoro_timer_hand_circle_hover": white,
          "pomodoro_timer_hand_hour": white,
          "pomodoro_timer_hand_hour_hover": midnightblue,
          "pomodoro_timer_hand_min": white,
          "pomodoro_timer_hand_min_hover": midnightblue,
          "pomodoro_timer_arc": $thm_orange,
          "pomodoro_timer_arc_hover": $thm_orange,
          "pomodoro_timer_arc_progress": $thm_red,
          "pomodoro_timer_arc_progress_hover": $thm_red,
          "pomodoro_timer_arc_break": $thm_dark_blue,
          "pomodoro_timer_arc_break_hover": $thm_dark_blue,
          "pomodoro_timer_text": white,
          "pomodoro_timer_text_highlight": $thm_orange,
    //sweet alert 2 colors
          "sweet_alert_2_title": black,
          "sweet_alert_2_text": black,
          "sweet_alert_2_modal_background": $thm_green,
          "sweet_alert_2_button_confirm_background": $thm_red,
          "sweet_alert_2_button_confirm_text": $white,
          "sweet_alert_2_button_cancel_background": $thm_orange,
          "sweet_alert_2_button_cancel_text": $white,
          "sweet_alert_2_icon_success_border": $thm_red,
          "sweet_alert_2_icon_success_text": $thm_green,
          "sweet_alert_2_icon_warning_border": $thm_orange,
          "sweet_alert_2_icon_warning_text": $thm_orange,
          "sweet_alert_2_icon_error_border": $thm_red,
          "sweet_alert_2_icon_error_text": $thm_red,
          "sweet_alert_2_icon_info_border": $thm_dark_blue,
          "sweet_alert_2_icon_info_text": $thm_dark_blue,
          "sweet_alert_2_icon_question_border": $thm_gray,
          "sweet_alert_2_icon_question_text": $thm_gray,
    //loading screen
          "loading_screen_icon": midnightblue,
    //wozniak rating buttons
          "wozniak_rating_0_background": red,
          "wozniak_rating_0_text": white,
          "wozniak_rating_0_text_hover": $button_text_hover,
          "wozniak_rating_0_background_hover": $button_background_hover,
          "wozniak_rating_1_background": orangered,
          "wozniak_rating_1_text": white,
          "wozniak_rating_1_text_hover": $button_text_hover,
          "wozniak_rating_1_background_hover": $button_background_hover,
          "wozniak_rating_2_background": salmon,
          "wozniak_rating_2_background_hover": $button_background_hover,
          "wozniak_rating_2_text": black,
          "wozniak_rating_2_text_hover": $button_text_hover,
          "wozniak_rating_3_background": palegreen,
          "wozniak_rating_3_background_hover": $button_background_hover,
          "wozniak_rating_3_text": black,
          "wozniak_rating_3_text_hover": $button_text_hover,
          "wozniak_rating_4_background": limegreen,
          "wozniak_rating_4_background_hover": $button_background_hover,
          "wozniak_rating_4_text": white,
          "wozniak_rating_4_text_hover": $button_text_hover,
          "wozniak_rating_5_background": green,
          "wozniak_rating_5_background_hover": $button_background_hover,
          "wozniak_rating_5_text": white,
          "wozniak_rating_5_text_hover": $button_text_hover,
    //landing page
          "landing_page_wordcloud_button": white,
          "landing_page_wordcloud_button_opacity": 1.0,
          "landing_page_wordcloud_button_hover": midnightblue,
          "landing_page_wordcloud_button_opacity_hover": 1,
          "landing_page_label": white,
    //wordcloud
          "wordcloud_background": "unset",
          "wordcloud_border": "unset",
          "wordcloud_hover_box_background":transparent,
          "wordcloud_hover_box_border": white,
    //useCases
          "use_cases_button_background": $thm_red,
          "use_cases_button_icon": white,
          "use_cases_button_background_hover": $button_background_hover,
          "use_cases_button_icon_hover": white,
          "use_cases_table_header_background": transparent,
          "use_cases_table_header_text": $thm_dark_blue

  );
}
