<template name="cardTypesList">
    {{#if this.filter}}
        <li>
            <a href="#" class="noFilterCardType active cards-filter-element" data-id="">{{_ "set-list.everyone"}}</a>
        </li>
        {{#each getCardTypes}}
            {{#if filterCardTypes this.cardType}}
                <li>
                    <a href="#" class="filterCardType cards-filter-element"
                       data-id="{{this.cardType}}">{{getCardTypeLongName}}
                        {{#if resultsFilterCardType this.cardType}}
                            <span class="glyphicon glyphicon-filter cards-filter-element"></span>
                        {{/if}}
                    </a>
                </li>
            {{/if}}
        {{/each}}
    {{else}}
        {{#each getCardTypes}}
            {{#if canCreateCardType this.cardType}}
                <li class="cardType" value="{{this.cardType}}" data="{{this.cardType}}"><a href="#">{{getCardTypeLongName}}</a></li>
            {{/if}}
        {{/each}}
    {{/if}}
</template>
