<template name="bonusTranscriptInfoBox">
    <div id="collapseBonusTranscriptInfoButton" class="col-xs-12 card card-block collapseButton">
        <strong>{{_ "transcriptForm.info.title"}}</strong>
        <i id="collapseBonusTranscriptInfoIcon" class="glyphicon glyphicon-collapse-down pull-right"></i>
    </div>
    <div class="collapse" id="collapseBonusTranscriptInfo">
        <div class="card card-block">
            <table class="table table-condensed table-striped table-hover infoBoxTable">
                <tbody>
                {{> cardsetInfoBoxItemTranscriptBonusMaxPoints}}
                {{> cardsetInfoBoxItemBonusPointsFAQ}}
                {{> cardsetInfoBoxItemTranscriptLectureDates}}
                {{> cardsetInfoBoxItemTranscriptLectureEnd}}
                {{> cardsetInfoBoxItemTranscriptSubmissionDeadline}}
                {{> cardsetInfoBoxItemTranscriptEditDeadline}}
                {{> cardsetInfoBoxItemTranscriptParticipants}}
                {{> cardsetInfoBoxItemTranscriptSubmissions}}
                {{> cardsetInfoBoxItemTranscriptMedian}}
                {{> cardsetInfoBoxItemTranscriptMinimumSubmissions}}
                </tbody>
            </table>
        </div>
    </div>
</template>
